[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invenio-app-rdm = {version = "==12.0.3", extras = ["opensearch2"]}
timefhuman = "*"
halo = "*"
jsonlines = "*"
isbnlib = "*"
python-iso639 = "*"
langdetect = "*"
python-stdnum = "*"
titlecase = "*"
validators = "*"
invenio-utilities-tuw = "*"
pytz = "*"
python-dateutil = "*"
invenio-saml = "*"
invenio-record-importer = {file = ".", editable = true}
invenio-rdm-records = {file = "./dependencies/invenio-rdm-records", editable = true}
invenio-records-resources = {file = "./dependencies/invenio-records-resources", editable = true}
invenio-communities = {file = "./dependencies/invenio-communities", editable = true}
invenio-remote-user-data = {file = "./dependencies/invenio-remote-user-data", editable = true}
invenio-group-collections = {file = "./dependencies/invenio-group-collections", editable = true}
unidecode = "*"
kcworks = {file = "./dependencies/knowledge-commons-works/site", editable = true}

[dev-packages]
docker-services-cli = "*"
pytest-invenio = "*"
selenium = "*"
ipykernel = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
