[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invenio-app-rdm = {version = "~=12.0.0b3.dev3", extras = ["opensearch2"]}
timefhuman = "*"
halo = "*"
jsonlines = "*"
isbnlib = "*"
python-iso639 = "*"
langdetect = "*"
python-stdnum = "*"
titlecase = "*"
validators = "*"
invenio-utilities-tuw = "*"
pytz = "*"
python-dateutil = "*"
invenio-saml = "*"
invenio-record-importer = {file = ".", editable = true}

[dev-packages]
docker-services-cli = "*"
pytest-invenio = "*"
selenium = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
