name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:24.0.5
        options: --privileged

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install --dev

    # Test runner includes taking down the docker compose stack
    - name: Run tests
      run: |
        pipenv run ./run-tests.sh

    # - name: Stop Docker Compose
    #   if: always()
    #   run: docker-compose down